SWLNReciclado/App_WebReferences/SWADNETRecicladoReference/SWADNETReciclado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ERVoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERVoto" nillable="true" type="tns:ERVoto" />
  <xs:complexType name="ERUsuarioNetvalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarjeta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERUsuarioNetvalle" nillable="true" type="tns:ERUsuarioNetvalle" />
  <xs:complexType name="ERCampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinCampania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioCampania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacionCampania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistroCampania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCampaniaOrganizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOrganizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedeCampania" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERCampania" nillable="true" type="tns:ERCampania" />
  <xs:complexType name="ArrayOfERCampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERCampania" nillable="true" type="tns:ERCampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERCampania" nillable="true" type="tns:ArrayOfERCampania" />
  <xs:complexType name="ERCampaniaOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaCampaniaOrganizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCampaniaOrganizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacionCampaniaOrganizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistroCampaniaOrganizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCampaniaOrganizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizacionCampaniaOrganizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERCampaniaOrganizacion" nillable="true" type="tns:ERCampaniaOrganizacion" />
  <xs:complexType name="ArrayOfERCampaniaOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERCampaniaOrganizacion" nillable="true" type="tns:ERCampaniaOrganizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERCampaniaOrganizacion" nillable="true" type="tns:ArrayOfERCampaniaOrganizacion" />
  <xs:complexType name="EROrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EROrganizacion" nillable="true" type="tns:EROrganizacion" />
  <xs:complexType name="ArrayOfEROrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EROrganizacion" nillable="true" type="tns:EROrganizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEROrganizacion" nillable="true" type="tns:ArrayOfEROrganizacion" />
  <xs:complexType name="ERImagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERImagen" nillable="true" type="tns:ERImagen" />
  <xs:complexType name="ArrayOfERImagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERImagen" nillable="true" type="tns:ERImagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERImagen" nillable="true" type="tns:ArrayOfERImagen" />
  <xs:complexType name="ERUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERUsuario" nillable="true" type="tns:ERUsuario" />
  <xs:complexType name="ArrayOfERUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERUsuario" nillable="true" type="tns:ERUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERUsuario" nillable="true" type="tns:ArrayOfERUsuario" />
  <xs:complexType name="ERContenedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gramos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMaquina" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERContenedor" nillable="true" type="tns:ERContenedor" />
  <xs:complexType name="ArrayOfERContenedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERContenedor" nillable="true" type="tns:ERContenedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERContenedor" nillable="true" type="tns:ArrayOfERContenedor" />
</xs:schema>