WAReciclado/App_WebReferences/SWLNReciclado/SWLNReciclado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ERCampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERCampania" nillable="true" type="tns:ERCampania" />
  <xs:complexType name="ArrayOfERCampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERCampania" nillable="true" type="tns:ERCampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERCampania" nillable="true" type="tns:ArrayOfERCampania" />
  <xs:complexType name="ArrayOfERCampaniaOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERCampaniaOrganizacion" nillable="true" type="tns:ERCampaniaOrganizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERCampaniaOrganizacion" nillable="true" type="tns:ArrayOfERCampaniaOrganizacion" />
  <xs:complexType name="ERCampaniaOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERCampaniaOrganizacion" nillable="true" type="tns:ERCampaniaOrganizacion" />
  <xs:complexType name="EROrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EROrganizacion" nillable="true" type="tns:EROrganizacion" />
  <xs:complexType name="ArrayOfEROrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EROrganizacion" nillable="true" type="tns:EROrganizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEROrganizacion" nillable="true" type="tns:ArrayOfEROrganizacion" />
  <xs:complexType name="ArrayOfERImagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERImagen" nillable="true" type="tns:ERImagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERImagen" nillable="true" type="tns:ArrayOfERImagen" />
  <xs:complexType name="ERImagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERImagen" nillable="true" type="tns:ERImagen" />
  <xs:complexType name="ERVoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERVoto" nillable="true" type="tns:ERVoto" />
  <xs:complexType name="ERUsuarioNetvalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarjeta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERUsuarioNetvalle" nillable="true" type="tns:ERUsuarioNetvalle" />
  <xs:complexType name="ERUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERUsuario" nillable="true" type="tns:ERUsuario" />
  <xs:complexType name="ArrayOfERUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERUsuario" nillable="true" type="tns:ERUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERUsuario" nillable="true" type="tns:ArrayOfERUsuario" />
  <xs:complexType name="ArrayOfERContenedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERContenedor" nillable="true" type="tns:ERContenedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERContenedor" nillable="true" type="tns:ArrayOfERContenedor" />
  <xs:complexType name="ERContenedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gramos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMaquina" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERContenedor" nillable="true" type="tns:ERContenedor" />
  <xs:complexType name="ArrayOfEUsuarioCompleja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EUsuarioCompleja" nillable="true" type="tns:EUsuarioCompleja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEUsuarioCompleja" nillable="true" type="tns:ArrayOfEUsuarioCompleja" />
  <xs:complexType name="EUsuarioCompleja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creditos" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EUsuarioCompleja" nillable="true" type="tns:EUsuarioCompleja" />
  <xs:complexType name="ECampaniaFinalizadaCompleja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Donacion" type="xs:int" />
      <xs:element minOccurs="0" name="MejorDonador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recaudacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ECampaniaFinalizadaCompleja" nillable="true" type="tns:ECampaniaFinalizadaCompleja" />
  <xs:complexType name="EEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSedeAcademica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedeAcademica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EEmpleado" nillable="true" type="tns:EEmpleado" />
  <xs:complexType name="EMensajeError">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EMensajeError" nillable="true" type="tns:EMensajeError" />
</xs:schema>